<% if @posts.any? %>
  <% @posts.each do |post| %>
    <a class="post-link" href="/posts/<%= post.id %>">
      <div class="col-xs-12">
      <h1><%= post.title %></h1>
      <p><%= post.user.first_name %> <%= post.user.last_name %></p>
      <hr>
      </div>
    </a>
  <% end %>
<% end %>