/* variables */
$navy: #3e474f;
$darknavy: #31383e;
$lightblue: #4baced;
$blue: #3498db;
$lightgreen: #1abc9c;
$green: #159982;

$lightgrey: #ecf0f1;
$grey: #c8d0d4;
$greyblue: #939ba3;
$darkgrey: #60676d;
$black: #000000;
$white: #ffffff;
$eggwhite: #fff4de;
$darkred: #801c1c;
$darkpurple: #2a0606;
$red: #ff0000;
$fadedred: #a73433;