@import '_colors';

.auth-button {
  width:100%;
  margin: 15px 0;
  padding: 20px 45px;
  font-size:1em;
  background: $blue;
  color: $white;
  border: 1px solid $blue;
  cursor: pointer;
}
.auth-button:hover {
  opacity: 0.5;
}
.auth-button:focus {
  outline: none;
}
.post-create-button {
  width: 100%;
  margin: 15px 0;
  padding: 10px 45px;
  font-size:1em;
  background: $black;
  color: $white;
  border: 1px solid $black;
  cursor: pointer;
}
.post-create-button:hover {
  opacity: 0.5; 
}
.add-comment-button {
  float:right;
  margin: 15px 0;
  padding: 10px 45px;
  font-size:1em;
  background: $blue;
  color: $white;
  border: 1px solid $blue;
  cursor: pointer;
}
.add-comment-button:hover {
  opacity: 0.5;
}
@media (max-width: 767px){
  .add-comment-button {
    width: 100%;
    margin: 15px 0;
    padding: 10px 45px;
    font-size:1em;
    background: $blue;
    color: $white;
    border: 1px solid $blue;
    cursor: pointer;
  }
  .add-comment-button:hover {
    opacity: 0.5;
  }
}
.create-comment-button {
  float:right;
  margin: 15px 0;
  padding: 10px 45px;
  font-size:1em;
  background: $black;
  color: $white;
  border: 1px solid $black;
  cursor: pointer;
}
.create-comment-button:hover {
  opacity: 0.5;
}
@media (max-width: 767px){
  .create-comment-button {
    width: 95%;
    margin: 15px 0;
    padding: 10px 45px;
    font-size:1em;
    background: $blue;
    color: $white;
    border: 1px solid $blue;
    cursor: pointer;
  }
  .create-comment-button:hover {
    opacity: 0.5;
  }
}
.save-comment-edit-button {
  float:right;
  width: 300px;
  margin: 15px 45px 15px 15px;
  padding: 10px 45px;
  font-size:1em;
  background: $blue;
  color: $white;
  border: 1px solid $blue;
  cursor: pointer;
}
.save-comment-edit-button:hover {
  opacity: 0.5;
}
.save-comment-edit-dismiss-button {
  float:right;
  margin: 15px 0;
  padding: 10px 45px;
  font-size:1em;
  background: $darkgrey;
  color: $white;
  border: 1px solid $darkgrey;
  cursor: pointer;  
}
.save-comment-edit-dismiss-button:hover {
  opacity: 0.5;
}
@media (max-width: 767px){
  .save-comment-edit-button {
    width: 40%;
    margin: 15px 25px 15px 25px;
    padding: 10px 45px;
    font-size:1em;
    background: $blue;
    color: $white;
    border: 1px solid $blue;
    cursor: pointer;
  }
  .save-comment-edit-button:hover {
    opacity: 0.5;
  }
  .save-comment-edit-dismiss-button {
    float:right;
    width: 40%;
    margin: 15px 0;
    padding: 10px 45px;
    font-size:1em;
    background: $darkgrey;
    color: $white;
    border: 1px solid $darkgrey;
    cursor: pointer;  
  }
  .save-comment-edit-dismiss-button:hover {
    opacity: 0.5;
  }
}
/* Keep at bottom */
.disabled-btn {
  background: $lightgrey;
  border: 1px solid $lightgrey;
}