@import '_colors';

.auth-button {
  width:100%;
  margin: 15px 0;
  padding: 20px 45px;
  font-size:1em;
  background: $black;
  color: $white;
  border: 1px solid $black;
  cursor: pointer;
}
.auth-button:hover {
  opacity: 0.5;
}
.post-create-button {
  width: 100%;
  margin: 15px 0;
  padding: 10px 45px;
  font-size:1em;
  background: $black;
  color: $white;
  border: 1px solid $black;
  cursor: pointer;
}
.post-create-button:hover {
  opacity: 0.5; 
}