@import '_colors';

.comment-body-field {
  margin-left:5%;
  width: 95%;
  max-width: 100%; 
  border: 1px solid #777777;
  padding: 10px;
}
.comment-body-field:focus {
  outline: none;
}
.comment {
  padding: 0 50px;
  margin: 10px 0 20px 0;
  .comment-author {
    color: $grey;
    font-size: 1.5em;
  }
  .comment-body {
    color: $darkgrey;
    font-size: 1.5em;
    padding: 0 50px; 
  }
}