@import '_colors';

.posts-new {
  padding: 100px 100px;
  label {
    color: #777;
    font-size:1.2em;
    margin: 5px 0 10px 0;
  }
  #post_title {
    height: 50px;
    width: 100%;
    font-size: 25px;
  }
  #post_title:focus {
    outline: none;
  }
  .body-field {
    margin-bottom: 25px;
  }
}
.posts-show {
  padding: 100px 100px;
  .post-title {
    text-align: center;
    font-size: 4em;
  }
  .post-author {
    text-align: center;
    font-size: 2em
  }
  .post-date {
    text-align: center;
  }
  .post-body {
    font-size: 1.7em;
  }
}
.posts-index {
  padding: 100px 100px;
  .post-link {
    color: #000;
  }
  .post-link:hover {
    color: $blue;
  }
}