<nav class="nav-bar navbar-fixed-top">
  <div class="breadcrumbs">
    <img class="logo" src="/favicon.png" />
    <%= render_breadcrumbs %>
    <ul class="auth-links">
    <% if user_signed_in? %>
      <li><%= link_to "Change your password", edit_user_registration_path %></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <% else %>
      <li><%= link_to('Login', new_user_session_path)  %></li>
    <% end %>
    </ul>
  </div>
</nav>