<nav class="nav-bar navbar-fixed-top">
  <div class="breadcrumbs">
    <img class="logo" src="/favicon.png" />
    <%= render_breadcrumbs %>
    <% if user_signed_in? %>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-button dropdown-toggle" type="button" data-toggle="dropdown">Links
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><%= link_to "Change your password", edit_user_registration_path %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      </ul>
    </div>
    <% else %>
    <ul class="auth-links">
      <li><%= link_to('Login', new_user_session_path)  %></li>
    </ul>
    <% end %>
  </div>
</nav>